body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: url('http://127.0.0.1:5500/img/img.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
    
}